* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 20% 0%, #0b1628 0, #050814 45%, #02040a 100%);
  overflow: hidden;
}

body {
  display: block;
}

canvas#treeCanvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
